<h5>Name: <%= @todo.name %></h5>
<h5>Description: <%= @todo.description %></h5>
<h5>Current Status: <%= @todo.status %></h5>
<%= form_for @todo, :url => project_todo_path do |f| %>
    <div class="form-group">
      <%= f.label :status, 'Modify Status' %>
      <%= f.select :status, STATUS.values, {}, class: "form-control" %>
    </div>
    <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    |
    <%= link_to 'Cancel', project_path(@todo.project), class: 'btn btn-danger' %>
<% end if can?(:update, @todo) %>
